<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Carro</title>
    <link rel="stylesheet" href="extrarenda.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div v-if="currentSection === 'renda-extra'" id="renda-extra" class="section">
            <h2>Renda extra com seu carro</h2>
            <form @submit.prevent="submitForm">
                <label for="marca">Marca:</label>
                <select id="marca" v-model="car.marca" required>
                    <option value="">Selecione</option>
                    <option v-for="marca in marcas" :value="marca">{{ marca }}</option>
                </select>

                <label for="modelo">Modelo:</label>
                <input type="text" id="modelo" v-model="car.modelo" required>

                <label for="ano">Ano:</label>
                <select id="ano" v-model="car.ano" required>
                    <option value="">Selecione</option>
                    <option v-for="ano in anos" :value="ano">{{ ano }}</option>
                </select>

                <label for="fotos">Fotos:</label>
                <input type="file" id="fotos" @change="handleFileUpload" multiple required>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                currentSection: 'renda-extra',
                car: {
                    marca: '',
                    modelo: '',
                    ano: '',
                    fotos: []
                },
                marcas: ['Toyota', 'Honda', 'Ford', 'Chevrolet'],
                anos: ['2020', '2019', '2018', '2017']
            },
            methods: {
                handleFileUpload(event) {
                    this.car.fotos = Array.from(event.target.files);
                },
                async submitForm() {
                    try {
                        const formData = new FormData();
                        formData.append('marca', this.car.marca);
                        formData.append('modelo', this.car.modelo);
                        formData.append('ano', this.car.ano);
                        this.car.fotos.forEach((foto, index) => {
                            formData.append(`fotos[${index}]`, foto);
                        });

                        await axios.post('https://your-api-url.com/cars', formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        });

                        alert('Carro cadastrado com sucesso!');
                    } catch (error) {
                        console.error('Erro ao cadastrar o carro:', error);
                        alert('Ocorreu um erro ao cadastrar o carro.');
                    }
                }
            }
        });
    </script>
</body>
</html>
